body {
    color: black;
    background: rgb(173, 216, 230);
    margin: 0px;
      }
 
 
      header {
 
 
      border-bottom: solid 2 px rgb(173, 216, 230);
      padding: 20px;
      font-size: 32px;
      color:
    }
 
 
    section{
      background: #add8e6;
      display: flex;
      
   
   
    }
 